@import url('https://fonts.googleapis.com/css2?family=Laila:wght@700&family=Open+Sans&display=swap');

html{
    background-color: #080708;
}
h1 {
    font-family: 'Laila', sans-serif;
    font-size:2.5rem;
    color: #f4f3ed;
}

p {
 font-family: 'Open Sans', sans-serif; 
 text-align: center;
 font-size: 1.5rem;  
}

.hidden {
    display: none !important;
}

/* landingPage  */

#landing-page{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;

}

.start-game-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.circle {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
#landing-page button {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    border: none;
    background-color: #6B26BA;
    color: #f4f3ed;
    margin: 0 100px;
    /* grid-column: 3/5;
    grid-row: 1;
    margin-top: 325px;
    margin-left: 150px; */
}

#landing-page input {
    height: 50px;
    width: 300px;
    /* grid-column:3/5;
    grid-row:1;
    margin: 250px 0 0 50px; */
    border-radius: 40px;
    border: none;
    padding: 20px;
    margin-bottom: 10px;
}
#landing-page h1 {
    font-size: 5rem;
    /* justify-content: flex-end;
    margin-top: -15px;
    grid-column: 2/5;
    z-index: 1;
    grid-row: 1;
    place-self: center; */
}
.panel {
    width: 350px  ;
    height: 350px;
    border: 5px solid #080708;
}

.center {
    width: 300px;
    height: 300px;
    background-color: #080708;
    border-radius: 100%;
    place-self: center;
    position: absolute;
    /* margin-left: 220px;
    margin-top: 220px;
    position: absolute; */
}

.bottom-right-panel {
    border-bottom-right-radius: 100%;
    background-color: #FF495C;
    border: 5px solid #080708;
    /* grid-column: 2;
    grid-row: 2; */
    animation: rotate 2s linear -0.5s infinite;
}

.bottom-left-panel {
    border-bottom-left-radius: 100%;
    background-color: #ECC846;
    border: 5px solid #080708;
    justify-self: end;
    /* grid-column: 1;
    grid-row: 2; */
    animation: rotate 2s linear -1s infinite;

}
.top-right-panel {
    border-top-right-radius: 100%;
    background-color: #256EFF;
    border: 5px solid #080708;
    /* grid-column:2;
    grid-row:1; */
    align-self: end;
    animation: rotate 2s linear infinite;

}
.top-left-panel {
    border-top-left-radius: 100%;
    background-color: #4CB944;
    border: 5px solid #080708;
    justify-self: end;
    /* grid-column: 1;
    grid-row: 1;
    align-self: end; */
    animation: rotate 2s linear 0.5s infinite;
}
@keyframes rotate {
    0% {
        filter: brightness(50%);
    }
    100% {
        filter: brightness(100%);
    }
}
/* end of landing-page  */
/* ------------------------------------------------------------------ */
/* gamePage  */
.container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 2fr 1fr;
}

#game-page h1 {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.circles-container {
    grid-column: 1/4;
    grid-row: 2;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;

}
.outer{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid 3px;
    position: absolute;
}
.middle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 3px gray;
    background-color: lightgray; 


}

#redCircle {
    border-color:#FF495C;
    left: 35%;
    transition: 
        transform .05s ease, 
        background-color 0.2 ease-out;
}
#redCircle:active{
    background-color: #FF495C;
    transform: scale(1.3);

}
.altRed {
    background-color: #FF495C;
    transform: scale(1.3);
}
#blueCircle {
    border-color: #256EFF;
    right: 35%;
    transition:
        transform .05s ease, 
        background-color 0.2 ease-out;
}

#blueCircle:active{
    background-color: #256EFF;
    transform: scale(1.3);
}
.altBlue {
    background-color: #256EFF;
    transform: scale(1.3);
}
#greenCircle {
    border-color: #4CB944;
    bottom: 0%;
    transition: 
        transform .05s ease, 
        background-color 0.2 ease-out;
}
#greenCircle:active{
    background-color: #4CB944;
    transform: scale(1.3);
}
.altGreen {
    background-color: #4CB944;
    transform: scale(1.3);
}
#yellowCircle {
    border-color: #ECC846;
    top: 0;
    left: 40%;
    transition: 
        transform .05s ease, 
        background-color 0.2 ease-out;
    
}
#yellowCircle:active{
    background-color: #ECC846;
    transform: scale(1.3);
}
.altYellow {
    background-color: #ECC846;
    transform: scale(1.3);
}
#purpleCircle {
    border-color:#6B26BA;
    top: 0;
    right: 40%;
    transition:
        transform .05s ease, 
        background-color 0.2 ease-out;
}
#purpleCircle:active{
    background-color: #6B26BA;
    transform: scale(1.3);
}
.altPurple {
    background-color: #6B26BA;
    transform: scale(1.3);
}

#hi-score, #personal-score {
    font-family: 'Open Sans', sans-serif; 
    text-align: center;
    font-size: 1.5rem;
    margin-top: -20px;
}
#hi-score {
    grid-column: 1;
    grid-row:1;

}
#personal-score {
    grid-column: 3;
    grid-row: 1;
}

.score {
    background-color:lightgray;
    color: #080708;
    width: 200px;
    height: 110px;
    border-radius: 5px;
    border: solid 3px #6B26BA;
    justify-self: center;
    align-self: center;
}

#start, #round {
    cursor: pointer;
    border: 1px solid #256EFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
#start span, #round span {
    font-family: 'Laila', sans-serif;
    font-size:2rem;

}
/* end of game-page */

/* modalpage   */

#modal {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    background: rgba (0,0,0,0.6);
    z-index: 10;
}

.modal-container {
    width: 40vw;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: #f4f3ed;
    padding: 15px;
    text-align: center;
}

#modal button {
    text-align: center;
    padding: 15px 25px;
    font-size: 1.2rem;
}
#modal h1 {
    color: #080708;
    margin: 0;
}
#modal h2 {
    margin-top: 0;
}

@media only screen and (max-width: 400px) {

    .outer{
        width: 25px;
        height: 25px;
    }

    .middle{
        width: 60px;
        height: 60px;
    }
}

